body {
  background-color: aliceblue;
}
body p {
  font-family: tahoma; color: black;
}
.topnav {
  background-color: lightslategray;
  text-align: center;
}
.topnav a {
  display: inline-block;
  color: whitesmoke; text-decoration: none; font-size: 150%; font-family: tahoma;
  padding: 20px;
}
.topnav a:hover {
  background-color: lightsteelblue;
  color: black;
}
.topnav a.active {
  background-color: black;
  color: whitesmoke;
}
#header {
  background-color: whitesmoke;
  color: black;
  padding: 40px
}
#header h1 {
  font-size: 400%; font-family: tahoma; font-style: italic; text-align: center;
}
#home1 {
  padding: 45px 150px 10px 140px;
}
#home2 {
  padding: 10px 150px 80px 140px;
}
#img1 {
  float: left;
  margin-right: 40px;
  width: 34vw; height: 23vw;
}
#img2 {
  float: right;
  margin-left: 40px;
  width: 35vw; height: 22vw;
}
#hometext {
  font-size: 150%; text-align: center;
  padding: 45px 0px;
}
#footer {
  background-color: black;
  padding: 60px 200px;
  text-align: center;
}
#footer p {
  color: whitesmoke; font-size: 90%; font-family: tahoma;
}
#jumptotop {
  color: lightsteelblue; font-size: 90%; font-family: tahoma;
}
.btn-danger {
  margin-top: 15px;
  background-color: maroon;
  color: gold; font-family: tahoma; font-size: 90%;
}
#court {
  padding: 50px 140px 0px 140px;
}
#court img {
  width: 40vw; height: 24vw;
  float: left;
  margin-right: 5vw;
}
#court li {
  font-size: 140%; text-align: center; font-family: tahoma; color: black;
}
#rules {
  padding: 30px 140px;
}
#rules h2 {
  font-size: 200%; font-family: tahoma; color: black;
  padding: 10px; margin-bottom: 15px;
  background-color: lightsteelblue;
}
#rules li {
  font-size: 150%; text-align: left; font-family: tahoma; color: black;
  padding: 10px;
}
#rules ol {
  padding-bottom: 30px;
}
.row {
  margin-right: 200px; margin-left: 200px;
  padding-bottom: 30px;
}
#column {
  padding: 2vw;
  margin-top: 2vw; margin-bottom: 2vw;
}
#column p {
  font-size: 125%; text-align: center;
  margin: 5px;
}
#column img {
  width: 17vw; height: 17vw;
}
table, th, tr, td {
  border: 1.5px solid black;
  border-collapse: collapse;
}
th, td {
  font-family: tahoma; font-size: 140%;
  padding: 10px;
}
td {
  background-color: whitesmoke
}
th {
  background-color: lightsteelblue;
  color: black; text-align: center;
}
table {
  width: 100%
}
iframe {
  width: 64vw; height: 36vw;
  margin-left: 3vw; margin-right: 3vw;
}
#positions {
  padding: 5vw 10vw 8vw 10vw;
}
#positions p {
  font-size: 150%; text-align: center;
  padding-bottom: 30px; padding-top: 40px;
}
#positions h1 {
  font-family: tahoma; color: black; font-size: 200%;
  padding-top: 60px;
}
.carousel-item {
  width: 100%;
}
#carousel {
  margin-left: 5vw; margin-right: 5vw;
}
#carousel h2 {
  font-family: tahoma; color: white;
  background-color: lightslategray;
  display: inline-block; padding: 5px 20px;
}
.btn-basic {
  background-color: lightslategray; color: white;
  font-size: 120%
}
#outrules {
  font-family: tahoma; font-size: 130%; margin: 20px;
}
#accordion {
  margin: 2vw;
}
.card {
  width: 90%;
  border: aliceblue;
  margin-left: auto; margin-right: auto;
}
.card-header {
  background-color: whitesmoke;
}
.card-header a {
  font-family: tahoma; font-size: 130%; color: black;
  padding-right: 75%;
}
#card-body {
  background-color: white;
}
#card-body li {
  font-family: tahoma; font-size: 110%; color: black;
  padding: 5px;
}
.alert-light {
  font-family: tahoma; color: black; font-size: 120%;
  margin: 25px 200px;
}
.btn-light {
  padding-left: 5vw; padding-right: 5vw; padding-top: 5px; padding-bottom: 5px;
  width: 100%;
  margin: 10px;
  background-color: white;
  font-family: tahoma; font-size: 120%; color: black;
}
